parameters:
  # amp_src_dir: (varies; local-dir or phar)
  # app_dir: '~/.amp'
  # instances_yml: '~/.amp/instances.yml'
  # config_yml: '%app_dir%/services.yml'
  # log_dir: '%app_dir%/log'

  httpd_type: 'apache'

  # apache_dir: '~/.amp/apache.d'
  apache_tpl: 'apache-vhost.php'

# apache_dir: '~/.amp/apache.d'
  apache24_tpl: 'apache24-vhost.php'

  # nginx_dir: '~/.amp/nginx.d'
  nginx_tpl: 'nginx-vhost.php'

  mysql_type: 'dsn'
  mysql_dsn: ''

  # mysql_ram_disk_dir: '~/.amp/ram_disk'
  mysql_ram_server_port: 3307

  perm_type: 'worldWritable'
  perm_user: ''
  perm_custom_command: ''

services:
  ## Data storage for AMP instances
  instances:
    class: Amp\InstanceRepository
    calls:
      - [setFileMode, [0600]]
      - [setFile, ['%instances_yml%']]
      - [setDb, ['@mysql']]
      - [setHttpd, ['@httpd']]
      - [setLockWait, [5]]

  ## This database connection used for most environments
  # mysql.cli:
  #  class: Amp\Database\MySQLCLI

  ## This infers the DSN based on ~/.my.cnf
  mysql.mycnf:
    class: Amp\Database\MySQL
    factory_class: Amp\Database\MySQLCnfFactory
    factory_method: get

  ## This connects to a user-supplied DSN
  mysql.dsn:
    class: Amp\Database\MySQL
    calls:
      - [setAdminDsn, ['%mysql_dsn%']]

  ## This database connection used for ephemeral, performance-oriented test environments
  mysql.ram_disk:
    class: Amp\Database\MySQLRAMServer
    calls:
      - [setRAMDiskPath, ['%ram_disk_dir%']]
      - [setMySQLRamServerPort, [%mysql_ram_server_port%]]

  httpd.none:
    class: Amp\Httpd\None

  httpd.apache:
    class: Amp\Httpd\VhostTemplate
    calls:
      - [setTemplateEngine, ['@template.engine']]
      - [setTemplate, ['%apache_tpl%']]
      - [setDir, ['%apache_dir%']]
      - [setLogDir, ['%log_dir%']]
      - [setPerm, ['@perm']]

  httpd.apache24:
    class: Amp\Httpd\VhostTemplate
    calls:
      - [setTemplateEngine, ['@template.engine']]
      - [setTemplate, ['%apache24_tpl%']]
      - [setDir, ['%apache_dir%']]
      - [setLogDir, ['%log_dir%']]
      - [setPerm, ['@perm']]

  httpd.nginx:
    class: Amp\Httpd\VhostTemplate
    calls:
      - [setTemplateEngine, ['@template.engine']]
      - [setTemplate, ['%nginx_tpl%']]
      - [setDir, ['%nginx_dir%']]
      - [setLogDir, ['%log_dir%']]
      - [setPerm, ['@perm']]

  config.repository:
    class: Amp\ConfigRepository
    calls:
      - [setFileMode, [0600]]
      - [setFile, ['%config_yml%']]

  perm.none:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', '']]

  perm.worldWritable:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', 'chmod 1777 {DIR}']]

  perm.linuxAcl:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', 'setfacl -m u:%perm_user%:rwx -m d:u:%perm_user%:rwx -m u:$(whoami):rwx -m d:u:$(whoami):rwx {DIR}']]

  perm.osxAcl:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', '/bin/chmod +a "%perm_user% allow delete,write,append,file_inherit,directory_inherit" {DIR}; /bin/chmod +a "$(whoami) allow delete,write,append,file_inherit,directory_inherit" {DIR}']]
      # "/bin/chmod" -- some people install GNU coreutils, but we need to use stock chmod
      # [setDirCommand, ['write', 'chmod -R +a "%perm_user% allow delete,write,append,file_inherit,directory_inherit" {DIR}']]

  perm.custom:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', '%perm_custom_command%']]

  template.engine:
    class: Symfony\Component\Templating\PhpEngine
    factory_class: Amp\TemplateEngineFactory
    factory_method: get
