parameters:
  # amp_src_dir: (varies; local-dir or phar)
  # app_dir: '~/.amp'
  # instances_yml: '~/.amp/instances.yml'
  # config_yml: '%app_dir%/services.yml'
  # log_dir: '%app_dir%/log'
  # my_cnf_dir: '%app_dir%/my.cnf.d'

  httpd_type: 'apache'
  httpd_shared_ports: '80'
  httpd_restart_wait: 1
  httpd_restart_command: ''

  hosts_type: 'none'
  hosts_file: '/etc/hosts'
  hosts_ip: '127.0.0.1'

  # apache_dir: '~/.amp/apache.d'
  apache_tpl: 'apache-vhost.php'

# apache_dir: '~/.amp/apache.d'
  apache24_tpl: 'apache24-vhost.php'

  # nginx_dir: '~/.amp/nginx.d'
  nginx_tpl: 'nginx-vhost.php'

  db_type: 'mysql_dsn'
  mysql_dsn: ''
  pg_dsn: ''

  # ram_disk_dir: '~/.amp/ram_disk'
  ram_disk_type: 'auto'
  ram_disk_size: 500

  mysql_ram_server_port: 3307

  perm_type: 'worldWritable'
  perm_user: ''
  perm_custom_command: ''

  instances_timeout: 5

services:
  ## Data storage for AMP instances
  instances:
    class: Amp\InstanceRepository
    calls:
      - [setFileMode, [0600]]
      - [setFile, ['%instances_yml%']]
      - [setDb, ['@db']]
      - [setHosts, ['@hosts']]
      - [setHttpd, ['@httpd']]
      - [setLockWait, ['%instances_timeout%']]

  ## This database connection used for most environments
  # mysql.cli:
  #  class: Amp\Database\MySQLCLI

  ## This infers the DSN based on ~/.my.cnf
  db.mysql_mycnf:
    class: Amp\Database\MySQL
    factory_class: Amp\Database\MySQLCnfFactory
    factory_method: get

  ## This connects to a user-supplied DSN
  db.mysql_dsn:
    class: Amp\Database\MySQL
    calls:
      - [setAdminDsn, ['%mysql_dsn%']]

  ## This connects to user-created databases
  db.mysql_precreated:
    class: Amp\Database\MySQLPrecreated

  db.pg_dsn:
    class: Amp\Database\PostgreSQL
    calls:
      - [setAdminDsn, ['%pg_dsn%']]

  app_armor.mysql_ram_disk:
    class: Amp\Database\MySQLRAMServer\AppArmor
    calls:
     - [setConfigFilePath, ["/etc/apparmor.d/local/usr.sbin.mysqld"]]
     - [setAppArmorLines, [['%ram_disk_dir%/ r', '%ram_disk_dir%/** rwk']]]

  ## This database connection used for ephemeral, performance-oriented test environments
  db.mysql_ram_disk:
    class: Amp\Database\MySQLRAMServer
    factory_class: Amp\Database\MySQLFactoryHelper
    factory_method: createRAMServer
    arguments:
      - '@service_container'

  ## This database connection used for ephemeral, performance-oriented test environments
  ## Provided for backward compat.
  db.mysql_osx_ram_disk:
    alias: db.mysql_ram_disk

  hosts.none:
    class: Amp\Hostname\NoHosts

  hosts.file:
    class: Amp\Hostname\HostsFile
    calls:
      - [setFile, ['%hosts_file%']]
      - [setSudo, [true]]
      - [setIp, ['%hosts_ip%']]

  httpd.none:
    class: Amp\Httpd\None

  httpd.apache:
    class: Amp\Httpd\VhostTemplate
    calls:
      - [setTemplateEngine, ['@template.engine']]
      - [setTemplate, ['%apache_tpl%']]
      - [setDir, ['%apache_dir%']]
      - [setLogDir, ['%log_dir%']]
      - [setPerm, ['@perm']]
      - [setRestartCommand, ['%httpd_restart_command%']]
      - [setRestartWait, ['%httpd_restart_wait%']]
      - [setSharedPorts, ['%httpd_shared_ports%']]

  httpd.apache24:
    class: Amp\Httpd\VhostTemplate
    calls:
      - [setTemplateEngine, ['@template.engine']]
      - [setTemplate, ['%apache24_tpl%']]
      - [setDir, ['%apache_dir%']]
      - [setLogDir, ['%log_dir%']]
      - [setPerm, ['@perm']]
      - [setRestartCommand, ['%httpd_restart_command%']]
      - [setRestartWait, ['%httpd_restart_wait%']]
      - [setSharedPorts, ['%httpd_shared_ports%']]

  httpd.nginx:
    class: Amp\Httpd\VhostTemplate
    calls:
      - [setTemplateEngine, ['@template.engine']]
      - [setTemplate, ['%nginx_tpl%']]
      - [setDir, ['%nginx_dir%']]
      - [setLogDir, ['%log_dir%']]
      - [setPerm, ['@perm']]
      - [setRestartCommand, ['%httpd_restart_command%']]
      - [setRestartWait, ['%httpd_restart_wait%']]
      - [setSharedPorts, ['%httpd_shared_ports%']]

  config.repository:
    class: Amp\ConfigRepository
    calls:
      - [setFileMode, [0600]]
      - [setFile, ['%config_yml%']]

  perm.none:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', '']]

  perm.worldWritable:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', 'chmod 1777 {DIR}']]

  perm.linuxAcl:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', 'setfacl -m u:%perm_user%:rwx -m d:u:%perm_user%:rwx -m u:$(whoami):rwx -m d:u:$(whoami):rwx {DIR}']]

  perm.osxAcl:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', '/bin/chmod +a "%perm_user% allow delete,write,append,file_inherit,directory_inherit" {DIR}; /bin/chmod +a "$(whoami) allow delete,write,append,file_inherit,directory_inherit" {DIR}']]
      # "/bin/chmod" -- some people install GNU coreutils, but we need to use stock chmod
      # [setDirCommand, ['write', 'chmod -R +a "%perm_user% allow delete,write,append,file_inherit,directory_inherit" {DIR}']]

  perm.custom:
    class: Amp\Permission\External
    calls:
      - [setDirCommand, ['write', '%perm_custom_command%']]

  ram_disk.auto:
    class: Amp\Ramdisk\RamDiskInterface
    factory_class: Amp\RamDisk\RamDiskFactory
    factory_method: get
    arguments:
      - '@service_container'

  ram_disk.linux:
    class: Amp\RamDisk\LinuxRamDisk
    calls:
    - [setPath, ['%ram_disk_dir%']]
    - [setSizeMb, ['%ram_disk_size%']]

  ram_disk.manual:
    class: Amp\RamDisk\ManualRamDisk
    calls:
    - [setPath, ['%ram_disk_dir%']]

  ram_disk.osx:
    class: Amp\RamDisk\OsxRamDisk
    calls:
    - [setPath, ['%ram_disk_dir%']]
    - [setSizeMb, ['%ram_disk_size%']]
    - [setDevFile, ['%app_dir%/osx_ramdisk_device']]

  template.engine:
    class: Symfony\Component\Templating\PhpEngine
    factory_class: Amp\TemplateEngineFactory
    factory_method: get
